*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(180deg,rgb(111, 111, 255),pink,rgb(252, 108, 108)); */
    background-image: url('./bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vw;
}
.card{
    height: 75vh;
    width: 25vw;
    border: 2px solid rgb(154, 233, 164);
    border-radius: 12px;
    transition-duration: 100ms;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bitcount Grid Double';
    color: #ffffff;
    font-size: 4rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 7vh;
    width: 30vw;
    color: white;
    font-size: 2rem;
    font-family: "alan sans",'poppins';
}
form input{
    font-size: 2rem;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom:5px solid rgb(154, 233, 164);
    font-family: "alan sans",'poppins';
}
form input:focus{
    border: none;
    outline: none;
    border-bottom:5px solid rgb(154, 233, 164);
}
form button{
    align-self: flex-end;
    padding: 2vh 2vw;
    border-radius: 2vh;
    border: 5px solid rgb(154, 233, 164);
    background-color: rgb(59, 182, 145);
    color: white;
    font-size: 1rem;
    font-family: "alan sans",'poppins';
    transition-duration: 200ms;
    cursor: pointer;
}
form button:hover{
    background-color: rgb(51, 156, 125);
}