* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgb(193, 255, 193), darkgreen);
}

.container {
    background: linear-gradient(rgb(150, 150, 255), rgb(255, 172, 172), rgb(193, 255, 193));
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.eye {
    height: 10vw;
    width: 10vw;
    border: 12px solid rgb(255, 255, 255);
}

.eyeBall {
    height: 5vw;
    width: 5vw;
    border-radius: 2.5vw;
    background-color: black;
    margin: 25%;
    transition-duration: 100ms;
}

.clock {
    height: 30vh;
    width: 30vh;
    border: 2px solid white;
    position: absolute;
    top: 60vh;
    border-radius: 15vh;
}
#hrhnd{
    height: 1vh;
    width: 5vh;
    background-color: rgb(255, 54, 54);
    position: absolute;
    z-index: 3;
    top: 15vh;
    left: 13vh;
    border-radius: 1vh;
}
#minhnd{
    height: 1vh;
    width: 10vh;
    background-color: rgb(37, 196, 37);
    position: absolute;
    z-index: 2;
    top: 15vh;
    left: 10vh;
    border-radius: 1vh;
}
#sechnd{
    height: 1vh;
    width: 15vh;
    background-color: rgb(29, 130, 197);
    position: absolute;
    z-index: 1;
    top: 15vh;
    left: 7.5vh;
    border-radius: 1vh;
}